<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>  
     
    <add key="DB_Username" value="sa"/>
    <add key="DB_Password" value="B1Admin"/>
    <add key="DB_Server" value="SAPSERVER02"/>     
   
    <add key="ReportPrefix" value="ReportMailer"/>         
    <add key="Company_DB" value="SBODemoSG" />          
    <add key="RptFilePath" value="D:\ReportMailer\RPTFiles\"/>

    <add key="SenderEmailId" value="po.approval@astellas.com"/>
    <add key="SenderEmailIdPwd" value="Login@456"/>
    <add key="CCEmailId" value="Finance_AP@sg.astellas.com"/>
    <add key="BCCEmailId" value=""/>
    
  
  </appSettings>
  <connectionStrings>
     <add name="SAP_DB_ConnectionString" connectionString="Server=SAPSERVER02;Database=SBODemoSG;User Id=sa;Password=B1Admin;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>